/* # 1 */

h1{
    color: blue;
    /* selector არის h1, color არის property, blue არის მნიშვნელობა/value.*/
}

/* # 2 */

div{
    color: green;
}

/* # 3 */

.text{
    font-size: 20px;
}

/* # 4 */

#main-btn{
    background-color: red;
}

/* # 5 */

.box{
    color: red;
}

#unique{
    color: blue;
}