div{
    padding: 20px;
    background-color: purple;
    border: 1px 1px green;
}
#Box1{
    width: 50px;
    color: red;
    background-color: blue;
    margin: 30px;
}
#Box2{
    width: 50px;
    color: green;
    background-color: black;
    margin: 20px;
}
#idk{
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 2px solid limegreen;
    margin: 20px;
}
#Card{
    background-color: black;
    margin: 15px;
    color: red;
    padding: 10px;
    width: 50px;
}